
  @font-face {
    font-family: 'iconfont';  /* Project id 2794442 */
    src: 
         url('https://at.alicdn.com/t/font_2794442_w2u926aauk.woff2?t=1631098200597') format('woff2'),
         url('https://at.alicdn.com/t/font_2794442_w2u926aauk.woff?t=1631098200597') format('woff'),
         url('https://at.alicdn.com/t/font_2794442_w2u926aauk.ttf?t=1631098200597') format('truetype');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 32rpx;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    /* -webkit-text-stroke-width: 0.4rpx; */
    -moz-osx-font-smoothing: grayscale;
  }